<ion-header>
  <ion-toolbar>
    <ion-title>
      AppCRUD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <!-- List of Text Items -->
  <ion-list size="12">
    <!-- Each list item -->
    <ion-item>
      <ion-row>
        <ion-col size="12"> 
            <!-- Item Name -->
            <ion-label>id: New item</ion-label>

            <!-- Item ID -->
            <ion-label>Nome: mqI9YY5dEsElm2W8wliJ </ion-label>

            <!-- Last Modified -->
            <ion-label>Última modificação:  7/17/19, 3:48 PM </ion-label>

            <!-- Action buttons  -->
            <ion-button><ion-icon name="create"></ion-icon></ion-button>
            <ion-button color="danger"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-item>
   
  </ion-list>

  <!-- Floating action button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
    
  <ion-toolbar color="primary">
      
        Último item adicionado:

      New item
      # mqI9YY5dEsElm2W8wliJ
    </ion-toolbar>
</ion-footer>